*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

span {
  display: block;
  margin: 5px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.redCircle {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  /* margin: 0 auto; */
  position: absolute;
}

.gallery-list-item {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  width: 300px;
}

.green {
  color: green;
}

.violet {
  color: violet;
}

.tomato {
  color: tomato;
}

.total {
  align-self: flex-end;
  font-weight: 700;
}
.label {
  margin: 20px;
}

.form-title {
  margin: 0 auto;
}

.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.preview {
  display: flex;
  list-style: none;
  margin: 0 auto;
  width: 1280px;
  margin-top: 20px;
}

.image-gallery {
  width: 1280px;
  margin: 0 auto;
  padding: 50px;
}

.fullview {
  border: 4px solid white;
  box-shadow: 0px 6px 5px #ccc;
}

.fullview > img {
  margin: 0 auto;
  height: 840px;
}

.preview-item {
  border: 4px solid white;
  box-shadow: 0px 6px 5px #ccc;
  margin: 5px;
}

.preview-item.active {
  border: 4px solid grey;
  /* border-right: 4px; */
}

/* модалка */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden auto;
  padding: 20px 0;
  display: flex;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden auto;
  padding: 100px 0;
  display: flex;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  opacity: 0;
  pointer-events: none;

  /* padding: 20px 0;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  max-height: 100vh;
  max-width: 100vw;
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function); */
}

.form {
  max-width: 528px;
  margin: 0 auto;
  background-color: white;
  padding: 15px;
}

input {
  margin-top: 20px;
  width: 100%;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-top: 20px;
}

.modal.is-open .content {
  transform: scale(1);
}

.is-open {
  opacity: 1;
  pointer-events: initial;
}

.loader {
  height: 20%;
  width: 20%;
  margin: 0 auto;
  margin-top: 30px;
  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
